.main {
    height: 100vh;
    display: flex;
    width: 1200px;
    margin: 0px auto;
}
.navBar {
    background-color: lightseagreen;
    width: 20em;
    padding: 1.5em;
}
.feed {
    background-color:magenta;
    width: 100%;
    padding: 1.5em;
}