* {
    margin: 0px;
    padding: 0px;
}
.header {
    background-color: lightcoral;
    width: 100%;
    position: relative;
}
.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    padding: 0 24px;
}



